body {
    margin: 0;
    padding: 0;
    background-color: #cecece;
}
.container {
    position: relative;
    width: 50%;
    margin: 40px 25% 0 25%;
    padding:20px;
    background-color: ivory;
}
.title {
    position: relative;
    margin-bottom: 30px;
}
.field {
    padding: 10px;
}
.text-input {
    width: 250px;
    height: 10px;
    margin-top: 15px;
}
span {
    padding-left: 10px;
}

.submit {
    width: 80px;
    font-size: 15px;
}

.result {
    text-align: left;
    font-size:15px;
    background-color: #000000;
    color: #00ff00;
    display: none;
}

.email {
    color: blue;
}
.footer {
    text-align: center;
    margin-top: 100px;
}
